<div class="page-container">
  <h2 class="mb-4">{{ isEditMode ? 'Editar Funcionário' : 'Cadastro de Funcionários' }}</h2>

  <form [formGroup]="employeeForm" (ngSubmit)="onSave()" class="form-card">
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="employeeForm.get('name')?.hasError('required')">Required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" mask="000.000.000-00" placeholder="000.000.000-00">
          <mat-error *ngIf="employeeForm.get('cpf')?.hasError('required')">Required</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Data Contratação</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="hiringDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex gap-2 mt-3">
      <button mat-raised-button color="primary" type="submit" [disabled]="employeeForm.invalid">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="onCancel()">
        Voltar
      </button>
    </div>

  </form>
</div>
