<app-loader></app-loader>

<mat-toolbar color="primary">
  <button mat-button [routerLink]="routes.LINKS.COMPANY.LIST" routerLinkActive="active-link">
    Empresas
  </button>
  <button mat-button [routerLink]="routes.LINKS.EMPLOYEE.LIST" routerLinkActive="active-link">
    Funcionários
  </button>
  <button mat-button [routerLink]="routes.LINKS.ROLE.LIST" routerLinkActive="active-link">
    Cargos
  </button>

  <span class="spacer"></span>

  <span>Onboarding SIGDB1</span>
</mat-toolbar>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
