.page-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.form-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2);
}

.w-100 {
  width: 100%;
}
